---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<div class={withDesc ? "flex flex-col" : "flex flex-col grow sm:flex-row sm:items-center sm:justify-between"}>
	{!withDesc ? (
		<>
			<FormattedDate
				class="shrink-0 text-lighter text-sm sm:order-2 sm:text-right"
				date={post.data.publishDate}
				dateTimeOptions={{
					// hour: "2-digit",
					// minute: "2-digit",
					year: "numeric",
					month: "long",
					day: "2-digit",
				}}
			/>
			<Tag class="text-lg font-semibold leading-tight sm:order-1">
				<a data-astro-prefetch href={`/verblog/posts/${post.slug}/`} class="citrus-link hover:text-accent-one transition-colors">
					{post.data.draft && <span class="text-red-500">(Draft) </span>}
					{post.data.title}
				</a>
			</Tag>
		</>
	) : (
		<>
			<FormattedDate 
				class="text-sm shrink-0 text-lighter" 
				date={post.data.publishDate}
				dateTimeOptions={{
					// hour: "2-digit",
					// minute: "2-digit",
					year: "numeric",
					month: "long",
					day: "2-digit",
				}}
			/>
			<Tag class="text-lg font-semibold leading-tight">
				<a data-astro-prefetch href={`/verblog/posts/${post.slug}/`} class="citrus-link hover:text-accent-one transition-colors">
					{post.data.title}
				</a>
			</Tag>
			{post.data.description && (
				<p class="mt-2 text-sm text-lighter leading-relaxed line-clamp-2">
					{post.data.description}
				</p>
			)}
		</>
	)}
</div>
